<a href="https://colab.research.google.com/github/rabiyulfahimhasim786/pyspark-basics/blob/main/pyspark_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 14.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=c4930557a85a87fea1277d9dedeb854d2bd2c6f854cf7e476c7dee3b1e6e37fd
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 23 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 144 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 128285 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u362-ga-0ubuntu1~20.04.1_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u362-ga-0ubuntu1~20.04.1) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u362-ga-0ubuntu1~20.04.1_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u362-ga-0ubuntu1~20.04.1) ...
Setting up openjdk-8-jre-headless:amd64 (8u362-ga-0ubuntu1~20.04.1) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u362-ga-0ubuntu1~20.04.1) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [ ]:
# importing module
import pyspark

# importing sparksession from pyspark.sql module
from pyspark.sql import SparkSession

# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

# list of students data
data = [["1", "Amit", "DU"],
		["2", "Mohit", "DU"],
		["3", "rohith", "BHU"],
		["4", "sridevi", "LPU"],
		["1", "sravan", "KLMP"],
		["5", "gnanesh", "IIT"]]

# specify column names
columns = ['student_ID', 'student_NAME', 'college']

# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)

# show dataframe
dataframe.show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
|         2|       Mohit|     DU|
|         3|      rohith|    BHU|
|         4|     sridevi|    LPU|
|         1|      sravan|   KLMP|
|         5|     gnanesh|    IIT|
+----------+------------+-------+

References - https://www.geeksforgeeks.org/pyspark-filter-dataframe-based-on-multiple-conditions/?ref=rp

In [ ]:
dataframe.filter(dataframe.college == "DU").show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
|         2|       Mohit|     DU|
+----------+------------+-------+

In [ ]:
dataframe.filter((dataframe.college == "DU") &
				(dataframe.student_ID == "1")).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
+----------+------------+-------+

In [ ]:
# Using SQL col() function
from pyspark.sql.functions import col
dataframe.filter(col("college") == "DU").show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
|         2|       Mohit|     DU|
+----------+------------+-------+

In [ ]:
# Using SQL col() function
from pyspark.sql.functions import col


dataframe.filter((col("college") == "DU") &
				(col("student_NAME") == "Amit")).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
+----------+------------+-------+

In [ ]:
list = [1, 2]
dataframe.filter(dataframe.student_ID.isin(list)).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
|         2|       Mohit|     DU|
|         1|      sravan|   KLMP|
+----------+------------+-------+

In [ ]:
Id_list = [1, 2]
college_list = ['DU','IIT']
dataframe.filter((dataframe.student_ID.isin(Id_list)) |
				(dataframe.college.isin(college_list))).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
|         2|       Mohit|     DU|
|         1|      sravan|   KLMP|
|         5|     gnanesh|    IIT|
+----------+------------+-------+

In [ ]:
dataframe.filter(dataframe.student_NAME.startswith('s')).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         4|     sridevi|    LPU|
|         1|      sravan|   KLMP|
+----------+------------+-------+

In [ ]:
dataframe.filter(dataframe.student_NAME.endswith('t')).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
|         2|       Mohit|     DU|
+----------+------------+-------+

In [ ]:
dataframe.filter((dataframe.student_NAME.endswith('t')) &
				(dataframe.student_NAME.startswith("A"))).show()

+----------+------------+-------+
|student_ID|student_NAME|college|
+----------+------------+-------+
|         1|        Amit|     DU|
+----------+------------+-------+