In [0]:
from pyspark.sql import  SparkSession
spark = SparkSession.builder.appName("test1").getOrCreate()

In [0]:
df = spark.read.csv("/FileStore/tables/employees.csv" , header=True , inferSchema=True)

In [0]:
# df2 = df.filter(df.Salary >60000)
df["Salary"]

In [0]:
# df["Salary"]
# df.Salary
df.select("Salary")

Out[6]: DataFrame[Salary: int]

In [0]:
#filter condition
# df.filter(df.Salary>60000).show()
# df.filter(df["First Name"]!="Aman").show()
# df.filter(df["First Name"]=="Douglas").show()
# df.filter(df["First Name"]=="Aman").count()
# df.filter(df["Gender"]=="Male").count()
# df.filter(df.Salary.isNull()).count()
# df.filter(df.Salary.isNotNull()).count()
# df.filter(df["First Name"].like("%ama%")).count()
# df.filter(df.Team.isin(["Marketing","Finance"])).count()
# df.filter(df.Salary.between(60000,90000)).count()
# df.filter(df["First Name"].startswith("Doug")).count()
# df.filter(df["First Name"].endswith("as")).count()
# df.filter(df["First Name"].contains("as")).count()
# df.filter((df["Gender"]=="Male")| (df["Team"]=="Marketing")).count() -> pass multiple conditions
# df.filter((df["Gender"]=="Male")& (df["Team"]=="Marketing")).count()
# df.filter((df["Gender"]=="Male")& (df["Team"]=="Marketing"))

# not equals condition
# df.filter(df.Team != "OH").show() 
# df.filter(~(df.state == "OH")).show()

#Using SQL col() function
# from pyspark.sql.functions import col
# df.filter(col("state") == "OH").show() 

#Using SQL Expression
# df.filter("gender == 'M'").show()
#For not equal
# df.filter("gender != 'M'").show()
# df.filter("gender <> 'M'").show()

# Filter NOT IS IN List values
#These show all records with NY (NY is not part of the list)
# li = ["Marketing","Legal","Product"]
# df.filter(~df.Team.isin(li)).count()
# df.filter(df.Team.isin(li)==False).show()

# rlike - SQL RLIKE pattern (LIKE with Regex)
#This check case insensitive
# df2.filter(df2.name.rlike("(?i)^*rose$")).show()

# rom pyspark.sql.types import StructType,StructField 
# from pyspark.sql.types import StringType, IntegerType, ArrayType
# data = [
#     (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
#     (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
#     (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
#     (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
#     (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
#     (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
#  ]
        
# schema = StructType([
#      StructField('name', StructType([
#         StructField('firstname', StringType(), True),
#         StructField('middlename', StringType(), True),
#          StructField('lastname', StringType(), True)
#      ])),
#      StructField('languages', ArrayType(StringType()), True),
#      StructField('state', StringType(), True),
#      StructField('gender', StringType(), True)
#  ])

# df = spark.createDataFrame(data = data, schema = schema)
# df.printSchema()

#Filter from arrays
# from pyspark.sql.functions import array_contains
# df.filter(array_contains(df.languages,"Java")).show(truncate=False) 

#Filter on Nested Structer 
# df.filter(df.name.lastname == "Williams").show(truncate=False) 

# where() clause instead of the filter() if you are coming from an SQL background, both these functions operate exactly the same.
# df.where(df.Salary == 28000).show()

Out[8]: 1000

In [0]:
from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])
df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
# df.filter(df.name.lastname == "Williams").show()
from pyspark.sql.functions import array_contains
df.filter(array_contains(df.languages,"Java")).show()

+----------------+------------------+-----+------+
|name            |languages         |state|gender|
+----------------+------------------+-----+------+
|{James, , Smith}|[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }  |[Spark, Java, C++]|NY   |F     |
+----------------+------------------+-----+------+

In [0]:
df.where("First Name")

Out[127]: DataFrame[First Name: string, Gender: string, Start Date: string, Last Login Time: string, Salary: int, Bonus %: double, Senior Management: boolean, Team: string, New Column: string, Salary In String: int]

In [0]:
from pyspark.sql.functions import lit  , col
# df = df.withColumn("New Column",lit("New Value")) --> Add a new column
# df.show()
# df.printSchema()
# df = df.withColumn("Salary In String",col("Salary").cast("String")) #--> Add new column with salary string 

# df = df.withColumn("Salary In String",col("Salary").cast("Integer")) --> Change the data type of column using cas function
# df.printSchema()
# df.withColumn("salary",col("salary")*100).show() --> update the existing value of the column 
# df.withColumn("CopiedColumn",col("salary")* -1).show() -->  Create a Column from an Existing
# df.withColumnRenamed("gender","sex").show() 
# df.drop("New Column").show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+----------+----------------+
|First Name|sex   |Start Date|Last Login Time|Salary|Bonus %|Senior Management|Team                |New Column|Salary In String|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+----------+----------------+
|Douglas   |Male  |8/6/1993  |12:42 PM       |97308 |6.945  |true             |Marketing           |New Value |97308           |
|Thomas    |Male  |3/31/1996 |6:53 AM        |61933 |4.17   |true             |null                |New Value |61933           |
|Maria     |Female|4/23/1993 |11:17 AM       |130590|11.858 |false            |Finance             |New Value |130590          |
|Jerry     |Male  |3/4/2005  |1:00 PM        |138705|9.34   |true             |Finance             |New Value |138705          |
|Larry     |Male  |1/24/1998 |4:47 PM        |101004|1.389  |true             |Client Services     |New Value |101004          |
|Dennis    |Male  |4/18/1987 |1:35 AM        |115163|10.125 |false            |Legal               |New Value |115163          |
|Ruby      |Female|8/17/1987 |4:20 PM        |65476 |10.012 |true             |Product             |New Value |65476           |
|null      |Female|7/20/2015 |10:43 AM       |45906 |11.598 |null             |Finance             |New Value |45906           |
|Angela    |Female|11/22/2005|6:29 AM        |95570 |18.523 |true             |Engineering         |New Value |95570           |
|Frances   |Female|8/8/2002  |6:51 AM        |139852|7.524  |true             |Business Development|New Value |139852          |
|Louise    |Female|8/12/1980 |9:01 AM        |63241 |15.132 |true             |null                |New Value |63241           |
|Julie     |Female|10/26/1997|3:19 PM        |102508|12.637 |true             |Legal               |New Value |102508          |
|Brandon   |Male  |12/1/1980 |1:08 AM        |112807|17.492 |true             |Human Resources     |New Value |112807          |
|Gary      |Male  |1/27/2008 |11:40 PM       |109831|5.831  |false            |Sales               |New Value |109831          |
|Kimberly  |Female|1/14/1999 |7:13 AM        |41426 |14.543 |true             |Finance             |New Value |41426           |
|Lillian   |Female|6/5/2016  |6:09 AM        |59414 |1.256  |false            |Product             |New Value |59414           |
|Jeremy    |Male  |9/21/2010 |5:56 AM        |90370 |7.369  |false            |Human Resources     |New Value |90370           |
|Shawn     |Male  |12/7/1986 |7:45 PM        |111737|6.414  |false            |Product             |New Value |111737          |
|Diana     |Female|10/23/1981|10:27 AM       |132940|19.082 |false            |Client Services     |New Value |132940          |
|Donna     |Female|7/22/2010 |3:48 AM        |81014 |1.894  |false            |Product             |New Value |81014           |
+----------+------+----------+---------------+------+-------+-----------------+--------------------+----------+----------------+
only showing top 20 rows

In [0]:
# PySpark, select() function is used to select single, multiple, column by index, all columns ,
# df.select(["First Name","Gender"]).show()
# df.select(col("Gender"),col("Salary")).show() --> Another way 
# df.select(df.colRegex("`^.*name*`")).show() --> regex can also be use in select

#select all columns multiple ways 
# df.select(*columns).show()
# df.select([col for col in df.columns]).show()
# df.select("*").show()

#Select Column index wise
# df.select(df.columns[:3]).show(3)
# df.select(df.columns[2:4]).show(3)

#Select nested columns
# df2.select("name.firstname","name.lastname").

+------+------+
|Gender|Salary|
+------+------+
|  Male| 97308|
|  Male| 61933|
|Female|130590|
|  Male|138705|
|  Male|101004|
|  Male|115163|
|Female| 65476|
|Female| 45906|
|Female| 95570|
|Female|139852|
|Female| 63241|
|Female|102508|
|  Male|112807|
|  Male|109831|
|Female| 41426|
|Female| 59414|
|  Male| 90370|
|  Male|111737|
|Female|132940|
|Female| 81014|
+------+------+
only showing top 20 rows

In [0]:
# df.collect() retrieves all elements in a DataFrame as an Array
#Returns value of First Row, First Column which is "Finance"
# df.collect()[0][0]
# df.collect() returns Array of Row type.
# df.collect()[0] returns the first element in an array (1st row).
# df.collect[0][0] returns the value of the first row & first column.

In [0]:
#get distinct values
# df.distinct().count()
# df.select("Salary").distinct().count() #get count of particular column

#to drop duplicates 
# df.dropDuplicates()
# df.dropDuplicates(["First Name"]).count()

Out[137]: 201

In [0]:
# df.sort("Salary").show()
# df.sort(col("department"),col("state")).show()
# df.sort(df.Salary.asc()).asc().show()
# df.sort(df.Salary.asc(),df.Bonus.asc()).show()
# df.sort(col("department").asc(),col("state").asc()).show()
# df.sort(df.department.asc(),df.state.desc()).show()
# df.sort(col("department").asc(),col("state").desc()).show()

#Order by
# df.orderBy("Salary").show()
# df.orderBy("department","state").show()
# df.orderBy(col("department"),col("state")).show()
# df.orderBy(col("department").asc(),col("state").asc()).show()
# df.orderBy(col("department").asc(),col("state").desc()).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+----------+----------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|New Column|Salary In String|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+----------+----------------+
|   Michael|  Male| 7/30/1993|        5:35 PM| 35013| 14.879|            false|             Product| New Value|           35013|
|     Kevin|  Male| 3/25/1982|        7:31 AM| 35061|  5.128|            false|               Legal| New Value|           35061|
|    Steven|  Male| 3/30/1980|        9:20 PM| 35095|  8.379|             true|     Client Services| New Value|           35095|
|   Matthew|  Male|  1/2/2013|       10:33 PM| 35203|  18.04|            false|     Human Resources| New Value|           35203|
|   Cynthia|Female|  7/5/1986|        1:24 AM| 35381| 11.749|            false|             Finance| New Value|           35381|
| Christina|Female| 6/23/2002|        3:18 PM| 35477| 18.178|            false|     Human Resources| New Value|           35477|
|  Kathleen|Female| 6/13/2014|        9:16 AM| 35575| 14.595|            false|        Distribution| New Value|           35575|
|     Terry|  Male|11/10/2004|        4:33 AM| 35633|  3.947|             true|        Distribution| New Value|           35633|
|     Bruce|  Male|  5/7/1980|        8:00 PM| 35802| 12.391|             true|               Sales| New Value|           35802|
|   Frances|Female| 5/16/2014|        8:31 AM| 35884| 17.667|            false|               Sales| New Value|           35884|
|     Maria|Female|12/27/1990|        9:57 PM| 36067|   9.64|             true|             Product| New Value|           36067|
|     Julia|Female|  3/2/1982|       12:52 PM| 36403|  2.664|             true|             Finance| New Value|           36403|
|  Kimberly|Female| 7/15/1997|        5:57 AM| 36643|  7.953|            false|           Marketing| New Value|           36643|
|    Denise|Female| 3/18/2001|       12:02 AM| 36697| 11.196|             true|               Sales| New Value|           36697|
|     Emily|Female| 1/13/1988|        6:42 AM| 36711| 19.028|             true|     Human Resources| New Value|           36711|
|    George|  Male| 9/27/1995|        5:04 PM| 36749| 19.754|            false|             Finance| New Value|           36749|
|    Evelyn|Female|  9/3/1983|        1:58 PM| 36759| 17.269|             true|           Marketing| New Value|           36759|
|   Phillip|  Male| 10/7/1984|       11:05 AM| 36837|  14.66|            false|           Marketing| New Value|           36837|
| Stephanie|Female| 9/13/1986|        1:52 AM| 36844|  5.574|             true|Business Development| New Value|           36844|
|     Janet|Female| 7/12/2008|       12:10 PM| 36927| 18.769|            false|     Client Services| New Value|           36927|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+----------+----------------+
only showing top 20 rows

In [0]:
"""
When we perform groupBy() on PySpark Dataframe, it returns GroupedData object which contains below aggregate functions.
count() – Use groupBy() count() to return the number of rows for each group.
mean() – Returns the mean of values for each group.
max() – Returns the maximum of values for each group.
min() – Returns the minimum of values for each group.
sum() – Returns the total for values for each group.
avg() – Returns the average for values for each group.
agg() – Using groupBy() agg() function, we can calculate more than one aggregate at a time.
"""

# df.groupBy("Team").sum("Salary").show()
# //GroupBy on multiple columns
# df.groupBy("department","state").sum("salary","bonus").show()

#agg 
# from pyspark.sql.functions import sum,avg,max
# df.groupBy("department").agg(sum("salary").alias("sum_salary"),avg("salary").alias("avg_salary"),sum("bonus").alias("sum_bonus"),max("bonus").alias("max_bonus")).show()

#using condition
# from pyspark.sql.functions import sum,avg,max
# df.groupBy("department") \
#     .agg(sum("salary").alias("sum_salary"), \
#       avg("salary").alias("avg_salary"), \
#       sum("bonus").alias("sum_bonus"), \
#       max("bonus").alias("max_bonus")) \
#     .where(col("sum_bonus") >= 50000) \
#     .show(truncate=False)

In [0]:
#inner join
# empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner").show()

#left join 
# empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"left").show()

#right join 
# empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"right").show()

In [0]:
"""
Let’s convert upperCase() python function to UDF and then use it with DataFrame withColumn(). Below example converts the values of “Name” column to upper case and creates a new column “Curated Name”

"""
# def upperCase(str):
#     return str.upper()


# upperCaseUDF = udf(lambda z:upperCase(z),StringType())   

# df.withColumn("Cureated Name", upperCaseUDF(col("Name"))).show()

In [0]:
#count the columns who have null values 
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+----+------+--------+---+------+------+-------+------+
|Name|Team|Number|Position|Age|Height|Weight|College|Salary|
+----+----+------+--------+---+------+------+-------+------+
|   1|   1|     1|       1|  1|     1|     1|     85|    12|
+----+----+------+--------+---+------+------+-------+------+

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-1131491803534067> in <module>
      1 #count for particula column
----> 2 when(col("Salary").isNull(), df)

/databricks/spark/python/pyspark/sql/functions.py in when(condition, value)
   1604         raise TypeError("condition should be a Column")
   1605     v = value._jc if isinstance(value, Column) else value
-> 1606     jc = sc._jvm.functions.when(condition._jc, v)
   1607     return Column(jc)
   1608

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1294
   1295     def __call__(self, *args):
-> 1296         args_command, temp_args = self._build_args(*args)
   1297
   1298         command = proto.CALL_COMMAND_NAME +\

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/java_gateway.py in _build_args(self, *args)
   1264
   1265         args_command = "".join(
-> 1266             [get_command_part(arg, self.pool) for arg in new_args])
   1267
   1268         return args_command, temp_args

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/java_gateway.py in <listcomp>(.0)
   1264
   1265         args_command = "".join(
-> 1266             [get_command_part(arg, self.pool) for arg in new_args])
   1267
   1268         return args_command, temp_args

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/protocol.py in get_command_part(parameter, python_proxy_pool)
    296             command_part += ";" + interface
    297     else:
--> 298         command_part = REFERENCE_TYPE + parameter._get_object_id()
    299
    300     command_part += "\n"

/databricks/spark/python/pyspark/sql/dataframe.py in __getattr__(self, name)
   1798         """
   1799         if name not in self.columns:
-> 1800             raise AttributeError(
   1801                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
   1802         jc = self._jdf.apply(name)

AttributeError: 'DataFrame' object has no attribute '_get_object_id'

In [0]:
"""My name is aman my contact is 7777777777 i have another phone my contact for other phone is 8888888888 , 
jksfb 555555555 jsbfjkb jbs fjs fjs fsj fskjf 44444444444 """

In [0]:
#sql files 
#temptables 
#views 
#index 
"""
create view viewname()

;

create temptable table 
#aman-A_@aman.com

"""